<!DOCTYPE html>
<html>
	<head>
		<title>To Do List</title>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
		<body>
			
					<main ng-app="myToDo" ng-controller="myList">
						<h1>To Do List</h1>
						<ul>
							<li ng-repeat="x in goals">{{x}}
								<span ng-click="removeItem($index)">&times;</span>
							</li>
						</ul>
						<input ng-model="addThis" type="text" placeholder="Enter Todos">
						<button ng-click="addButton()" type="button">Add</button>
						<p>{{errortext}}</p>
					</main>
				
		
				<script src="script.js"></script>
		</body>
</html>