main {
	background-color: aqua;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
}

li {
	list-style-type: none;
	padding-right: 10px;
}


span {
	padding-left: 10px;
}